.titleWrapper {
    display: flex;
    align-items: center;
}

.disabled {
    pointer-events: none;
}

.closeIcon {
    font-size: 20px;
    margin-right: 1rem;
    color: var(--gray400);
    cursor: pointer;

    &:hover {
        color: var(--gray800);
    }
}

.title {
    margin-right: auto;
}

.submitIcon {
    font-size: 18px;
    margin-right: 0.5rem;
}

.header {
    margin-bottom: 0.5rem;
}

.plusIcon {
    margin-right: 1rem;
    margin-bottom: -2px;
}

.trashIcon {
    color: var(--red600);
    margin-left: -4px;
    margin-bottom: -8px;
    font-size: 18px;
    cursor: pointer;
}

.webItem {
    margin: 0.5rem 0;
}
