.page {
    width: 100%;
    min-width: 644px;
}

.iconSave {
    margin-right: 0.5rem;
}

.head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.topic {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

.subTopic1 {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

.subTopic2 {
    display: flex;
    flex-direction: column;
}
