.page{
    width: 100%;
    min-width: 644px;
}

.head{
    font-size: 24px;
}

.topTable{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.iconAdd{
    margin-right: .5rem;
}