.wrapper {
    height: 100%;
}

.table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.subject {
    background: gainsboro;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 0.5rem;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 6px;
        background: gray;
    }
}

.LECTURE {
    background: var(--green100);

    &::before {
        background: var(--green500);
    }
}

.LAB {
    background: var(--blue100);

    &::before {
        background: var(--blue500);
    }
}

.OVERLAP {
    background: var(--red70);

    &::before {
        background: var(--red500);
    }
}

.EDITING {
    background: var(--orange100);

    &::before {
        background: var(--oragne400);
    }
}

.tooltip {
    white-space: nowrap;
    width: 400px;
}

.name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
