.titleWrapper {
    display: flex;
    align-items: center;
}

.disabled {
    pointer-events: none;
}

.closeIcon {
    font-size: 20px;
    margin-right: 1rem;
    color: var(--gray400);
    cursor: pointer;

    &:hover {
        color: var(--gray800);
    }
}

.title {
    margin-right: auto;
}

.submitIcon {
    font-size: 18px;
    margin-right: 0.5rem;
}

.plusIcon {
    margin-right: 1rem;
    margin-bottom: -2px;
}

.assistantItem {
    min-height: 100px;
    padding: 1rem;

    & + & {
        border-top: 1px solid var(--gray200);
    }
}

.datePicker {
    &:global(.ant-picker) {
        border-radius: 6px;
        width: 100%;
    }
}

.trashIcon {
    color: var(--red600);
    transform: translateY(5px);
    margin-left: 0.5rem;
    font-size: 18px;
    cursor: pointer;
}

.trashIconTitle {
    color: var(--red600);
    font-size: 16px;
    cursor: pointer;
    margin-left: 0.5rem;
}

.header {
    display: block;
    margin-bottom: 0.5rem;
}

:global(.ant-form-item).formHideMessage {
    margin-bottom: 0.5rem;

    :global(.ant-form-item-explain) {
        display: none;
    }
}
