:root {
    --blue50: #eff6ff;
    --blue100: #dbeafe;
    --blue400: #60a5fa;
    --blue500: #3b82f6;

    --gray50: #f9fafb;
    --gray100: #f3f4f6;
    --gray200: #e5e7eb;
    --gray400: #9ca3af;
    --gray500: #6b7280;
    --gray800: #1f2937;

    --green50: #ecfdf5;
    --green100: #d1fae5;
    --green400: #34d399;
    --green500: #10b981;

    --orange50: #fff7ed;
    --orange100: #ffedd5;
    --orange400: #fb923c;
    --orange500: #f97316;
    --orange600: #ea580c;

    --red50: #fef2f2;
    --red70: #fcebeb;
    --red100: #fee2e2;
    --red500: #ef4444;
    --red600: #dc2626;
}
