.page {
    display: flex;
    flex-direction: column;
}

.reloadBtn {
    font-size: 20px;
    margin: 0 0 -3px 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.reloadBtn:hover {
    transform: rotate(-100deg);
}

.monsterWrapper {
    user-select: none;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;

    img {
        max-width: 440px;
        width: 100%;
    }

    span {
        margin: 1rem 0;
        font-size: 28px;
        color: var(--gray400);
    }
}

.timeTableHeader {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.sectionContainer {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, 360px);
}
