.logo {
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    user-select: none;

    span:last-child {
        color: var(--orange600);
    }
}

.headerText {
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    user-select: none;
}

.profileImg {
    $size: 32px;

    width: $size;
    height: $size;
    border-radius: 50%;
    margin-right: 0.5rem;

    background: var(--gray500);
}
