.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 6px 0 24px;
}

.title {
    color: var(--gray400);
    margin: 1rem 0;
}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}
