$size: 18px;
$border-radius: 5px;

.checkbox {
    :global(.ant-checkbox) {
        :global(.ant-checkbox-inner) {
            width: $size;
            height: $size;
            border-radius: $border-radius;
        }
    }

    :global(.ant-checkbox-checked) {
        :global(.ant-checkbox-inner) {
            width: $size;
            height: $size;
            border-radius: $border-radius;
        }
    }

    &:hover {
        :global(.ant-checkbox-checked)::after {
            border-radius: $border-radius;
        }
    }
}
