$border-radius: 6px;

.table {
    border-radius: $border-radius;

    :global(.ant-table) {
        border-radius: $border-radius;
        overflow: hidden;
    }

    :global(.ant-table-content) {
        padding: 0 1rem;
    }

    :global(.ant-table-thead) {
        :global(.ant-table-cell) {
            background: white;
            color: var(--gray400);

            &::before {
                display: none;
            }
        }
    }

    .tableRow {
        cursor: pointer;

        &:global(.ant-table-row):hover > td {
            background: var(--gray50);
        }

        :global(.ant-form-item-explain) {
            position: absolute;
            top: 100%;
            font-size: 12px;
        }
    }

    .creditSymbol {
        span:nth-child(even) {
            color: var(--gray400);
            margin: 1px;
        }
    }

    tr {
        font-size: 16px;
    }
}

$statusWidth: 80px;
$statusHeight: 25px;

.statusGreen {
    display: flex;
    justify-content: center;
    color: white;
    background: var(--green500);
    width: $statusWidth;
    height: $statusHeight;
    border-radius: 10px;
}

.statusRed {
    display: flex;
    justify-content: center;
    color: white;
    background: var(--red500);
    width: $statusWidth;
    height: $statusHeight;
    border-radius: 10px;
}
