.page {
    display: flex;
    flex-direction: column;
}
.timeTableHeader {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.headerRight {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.timeTableFooter {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.label {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
}

.labelIcon {
    $size: 12px;
    width: $size;
    height: $size;
    margin-right: 0.5rem;
    display: inline-block;
    border-radius: 50%;

    &.green {
        background: var(--green500);
    }

    &.blue {
        background: var(--blue500);
    }

    &.red {
        background: var(--red500);
    }
}

.myInput {
    margin: 1rem 0;
    height: 48px;
    background: white;
    border-radius: 6px;
    position: relative;

    .searchIcon {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        font-size: 20px;
        color: var(--orange400);
    }

    :global(.ant-select-customize-input) {
        width: 100%;
        height: 100%;

        :global(.ant-select-selector) {
            height: 100%;
        }
    }

    input {
        width: 100%;
        height: 100%;
        padding: 0.5rem 1rem;
        padding-left: 3rem;
        border: none;
        background: none;
        font-size: 18px;

        &::placeholder {
            color: var(--gray400);
        }

        &:focus,
        &:active {
            outline: none;
        }
    }
}
