.page {
    display: flex;
    flex-direction: column;
}

.myInput {
    height: 48px;
    background: white;
    border-radius: 6px;
    position: relative;

    .searchIcon {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        font-size: 20px;
        color: var(--orange400);
    }

    :global(.ant-select-customize-input) {
        width: 100%;
        height: 100%;

        :global(.ant-select-selector) {
            height: 100%;
        }
    }

    input {
        width: 100%;
        height: 100%;
        padding: 0.5rem 1rem;
        padding-left: 3rem;
        border: none;
        background: none;
        font-size: 18px;

        &::placeholder {
            color: var(--gray400);
        }

        &:focus,
        &:active {
            outline: none;
        }
    }

    .item {
        font-size: 18px !important;
        color: red;
    }
}
